<%=form_for @article do |f|%>
    <p>
        <%= f.label :author%>
        <%= f.text_field :author,autofocus: true%>
    </p>
    <br>
    <p>
        <%= f.label :content%>
        <%= f.text_field :content, size: "60x12"%>
    </p>
    <br>
    <%= f.submit%>
<% end %>